<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot(scripts)">
    <!-- 引入jquery插件JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <!-- 引入bootstrap插件样式 JS-->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!-- 消息提醒框JS -->
    <script th:src="@{/webjars/toastr/build/toastr.min.js}" ></script>
    <!-- 引入支持多种浏览器的JS -->
    <script th:src="@{/webjars/html5shiv/html5shiv.min.js}"></script>
    <script th:src="@{/webjars/respond/dest/respond.min.js}"></script>
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${scripts}"/>
</div>
</html>