<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot(scripts)">
    <!-- 引入jquery插件JS -->
    <script th:src="@{/webjars/jquery/jquery.min.js}" ></script>
    <!-- 引入jquery form插件JS -->
    <script th:src="@{/webjars/jquery-form/jquery.form.min.js}" ></script>
    <!-- 引入popper插件样式 JS-->
    <script th:src="@{/webjars/jQuery-slimScroll/jquery.slimscroll.min.js}"></script>
    <!-- 引入popper插件样式 JS umd--Universal Module Definition统一的模块定义,同时支持浏览器和服务端-->
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <!-- 引入bootstrap插件样式 JS-->
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <!-- 引入bootstrap验证插件样式 JS-->
    <script th:src="@{/webjars/bootstrapvalidator/js/bootstrapValidator.min.js}"></script>
    <!-- 引入layui layer弹出层样式 JS-->
    <script th:src="@{/webjars/layui/layui.js}"></script>
<!--    <script th:src="@{/webjars/layui/lay/modules/layer.js}"></script>-->
    <!-- 消息提醒框JS -->
    <script th:src="@{/webjars/toastr/build/toastr.min.js}" ></script>
    <!--公用js-->
    <script th:src="@{/js/common/common.js}"></script>
    <!-- 引入支持多种浏览器的JS -->
    <script th:src="@{/webjars/html5shiv/html5shiv.min.js}"></script>
    <script th:src="@{/webjars/respond/dest/respond.min.js}"></script>
    <!-- js获取项目路径 -->
    <script th:inline="javascript">
        var ctx = [[@{/}]] ;
    </script>
    <!--/* Per-page placeholder for additional links */-->
    <th:block th:replace="${scripts}"/>
</div>
</html>