<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_HOME" value="./logs/temp/"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        　　　　　
        <encoder>
            　　　　　　　　　
            <pattern>%black(控制台-) %red(%d{yyyy-MM-dd HH:mm:ss}) %green([%thread]) %highlight(%-5level)
                %boldMagenta(%logger{10}) - %cyan(%msg%n)
            </pattern>
            　　　　　
        </encoder>
        　　　
    </appender>
    <appender name="Async_FileLog" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <Key>userid</Key>
            <DefaultValue>server</DefaultValue>
        </discriminator>
        <sift>
            <appender name="dailyRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <!-- daily rollover 保存历史记录到这个文件夹一日起为后缀 -->
                    <FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}/${userid}.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
                    <!-- keep14 days' worth of history -->
                    <maxHistory>14</maxHistory>
                    <!--日志文件最大的大小-->
                    <maxFileSize>2MB</maxFileSize>
                </rollingPolicy>
                <encoder>
                    <Pattern>%d{HH:mm:ss.SSS} %-5level %logger{35} - %msg %n</Pattern>
                    <charset>UTF-8</charset> <!-- 此处设置字符集 -->
                </encoder>
            </appender>
        </sift>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"></appender-ref>
        <appender-ref ref="Async_FileLog"></appender-ref>
    </root>
</configuration>