<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<!--引用通用head--->
<head th:replace="/common/commonHeader::common_header(~{::title},~{::link},~{})">
	<title>新增</title>
	<link rel="stylesheet" th:href="@{/webjars/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/cronGen.css}"/>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
	<div class="row">
		<div class="col-sm-12">
			<div class="ibox float-e-margins">
				<div class="ibox-content">
					<form class="form-horizontal validation-form m-t" id="signupForm">
						<input type="hidden" name="flag" id="flag" th:value="${readOnly}">
						<input id="jobId" name="jobId" th:value="${quartzJob.jobId}"  type="hidden">
						<div class="form-group">
							<label class="col-sm-3 control-label">任务名称：</label>
							<div class="col-sm-8">
								<input id="jobName" name="jobName" th:value="${quartzJob.jobName}" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">任务分组：</label>
							<div class="col-sm-8">
								<input id="jobGroup" name="jobGroup" th:value="${quartzJob.jobGroup}" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">任务状态 是否启动任务：</label>
							<div class="col-sm-8">
								<input id="jobStatus" name="jobStatus" th:value="${quartzJob.jobStatus}" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">执行类型，单个还是定时：</label>
							<div class="col-sm-8">
								<select name="cronType" id="cronType" th:value="${quartzJob.cronType}">
									<option value="">请选择</option>
									<option value="0">单次</option>
									<option value="1">定时</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">执行开始时间：</label>
							<div class="col-sm-8">
								<!--html5日期格式-->
								<!--									<input id="startTime" name="startTime" th:value="${quartzJob.startTime}" class="form-control" type="datetime-local">-->
								<div class="input-group date" id="startTime">
									<input type="text" class="form-control">
									<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="cronExpression" class="col-sm-3 control-label">cron表达式：</label>
							<div class="col-sm-8">
								<input id="cronExpression" name="cronExpression" th:value="${quartzJob.cronExpression}" class="form-control" type="text" >
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">描述：</label>
							<div class="col-sm-8">
								<input id="description" name="description" th:value="${quartzJob.description}" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">任务执行时调用哪个类的方法：</label>
							<div class="col-sm-8">
								<input id="beanClass" name="beanClass" th:value="${quartzJob.beanClass}" class="form-control" type="text">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">任务是否有状态：</label>
							<div class="col-sm-8">
								<input id="isConcurrent" name="isConcurrent" th:value="${quartzJob.isConcurrent}" class="form-control" type="text">
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-8 col-sm-offset-3">
								<button type="submit" id="btn_save" name="btn_save" class="btn btn-primary" th:if="${readOnly} ne true" >保存</button>
								<button type="button" id="btn_back" name="btn_back" class="btn btn-secondary" onclick="windowClose()">返回</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--引用通用JS-->
<div th:replace="/common/commonFoot::foot(~{})">
</div>
<script th:src="@{/js/common/quartzJob/cronGen.js}"></script>
<script th:src="@{/webjars/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{/js/common/quartzJob/add.js}"></script>
</body>
</html>