package ${package}.dao;

import com.tao.hai.base.BaseDao;
import ${package}.bean.${className};
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao extends BaseDao<${className}> {

	${className} get(${pk.attrType} ${pk.humpAttrName});

}
