package ${package}.service;

import com.tao.hai.base.BaseService;
import ${package}.bean.QuartzJob;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface QuartzJobService extends BaseService<QuartzJob>  {
	
	QuartzJob get(${pk.attrType} ${pk.humpAttrName});
}
