<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
    <!--引用通用head--->
    <head th:replace="common/commonHeader::common_header(~{::title},~{::link},~{})">
        <title>菜单管理</title>
        <link th:href="@{/pluggins/jqTreeGrid/jquery.treegrid.css}" rel="stylesheet">
    </head>
<body class="gray-bg">
    <div class="wrapper wrapper-content ">
        <div class="col-sm-12">
            <div class="ibox">
                <div class="ibox-body">
                    <div id="exampleToolbar" role="group" class="t-bar">
                        <button shiro:hasPermission="sys:menu:add" type="button"
                                class="btn btn-primary" title="在根节点下添加菜单" onclick="toAdd('0')">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="sys:menu:batchRemove" type="button"
                                class="btn btn-danger" onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                    <!--删除模态框-->
                    <div class="modal fade" id="deleteModal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">$times;</span>
                                    </button>
                                    <h3 class="modal-title">删除提示</h3>
                                </div>
                                <div class="modal-body">
                                    <p>确认删除选中数据？</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="btn_delete">确认</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <table id="table_menu" data-mobile-responsive="true">
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--权限控制-->
    <script type="application/javascript">
        let s_add_h=false;
        let s_edit_h=false;
        let s_remove_h=false;
    </script>
    <shiro:hasPermission name="sys:menu:add">
        <script type="application/javascript">
            s_add_h=true;
        </script>
    </shiro:hasPermission>
    <shiro:hasPermission name="sys:menu:edit">
        <script type="application/javascript">
            s_edit_h=true;
        </script>
    </shiro:hasPermission>
    <shiro:hasPermission name="sys:menu:remove">
        <script type="application/javascript">
            s_remove_h=true;
        </script>
    </shiro:hasPermission>
    <!--权限控制-->
    <!--引用通用JS-->
    <div th:replace="common/commonFoot::foot(~{})">
    </div>
    <!--下面js必须单独引用，否则会导致script重复被引用生成，导致错误-->
    <script th:src="@{/pluggins/jqTreeGrid/jquery.treegrid.min.js}"></script>
    <script th:src="@{/pluggins/jqTreeGrid/jquery.treegrid.extension.js}"></script>
    <script th:src="@{/pluggins/jqTreeGrid/jquery.treegrid.bootstrap3.js}"></script>
    <script th:src="@{/js/sys/menu/menu.js}"></script>
    <!--js-->
</body>
</html>