<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--引用通用head--->
<head th:replace="common/commonHeader::common_header(~{::title},~{::link},~{})">
    <title>部门列表</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}"/>
    <link rel="stylesheet" th:href="@{/css/layuiTreeTable.css}"/>
</head>
<body>
<!--引用通用JS-->
<div th:replace="common/commonFoot::foot(~{::script})">
    <script th:src="@{/webjars/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/webjars/layui/layui.all.js}"></script>
    <script th:src="@{/js/common.js}" ></script>
</div>
<div class="wrapper wrapper-content ">
    <div class="panel-heading">
        <h3 class="panel-title">
            部门管理
        </h3>
    </div>
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button onclick="toAdd()" class="btn btn-primary">
                            <i class="fa fa-plus hidden" aria-hidden="true"></i>添加
                        </button>
                        <button onclick="batchDelete()" class="btn btn-primary">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                </div>
                <div id="tableMain">
                    <div>
                        搜索：<input type="text" id="deptName" class="empty" style="width: 80px;margin-left: 3px;font-weight: normal;" placeholder="请输入部门名称"/>
                    </div>
                    <table id="deptTable" class="layui-table" lay-filter="deptTable"></table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
</div>

<script type="text/javascript">

    layui.config({
        base:"/js/"
    }).extend({
        treetable:"treetable"
    });
    // 第三步初始化Datatables
    $(function() {
        layui.use(["layer","table","treetable"],function () {
            var $ = layui.jquery;
            var table = layui.table;
            var layer = layui.layer;
            var treetable = layui.treetable;
            // 渲染表格
            var renderTable= function () {
                // layer.load(2);
                // 渲染表格
                $.ajax({
                    url: "/dept/list",
                    type: "post",
                    data: {},
                    dataType: "json",
                    success: function (data) {
                        treetable.render({
                            treeColIndex: 1,
                            treeSpid: -1,
                            treeIdName: 'deptId',
                            treePidName: 'parentId',
                            treeDefaultClose: true,
                            treeLinkage: false,
                            elem: '#deptTable',
                            data: eval(data),
                            page: false,
                            cols: [
                                [
                                    // {type: 'numbers', title: '编号'},
                                    {type:'checkbox'},
                                    {field: 'deptId', title: '部门ID'},
                                    {field: 'deptName', title: '部门名称'},
                                    {field: 'deptCode', title: '部门编码'},
                                    {field: 'deptSort', title: '部门排序'}
                                    //{templet: 'complain', title: '操作'}
                                ]
                            ],
                            done: function () {
                                layer.closeAll('loading');
                            }
                        });

                    },
                    error: function (msg) {

                    }
                });
            };
            renderTable();
        });
    });
    //
    function complain(d) {
        if(d.deptId!=null){
            return [
                '<a class="operation" lay-event="edit" href="javascript:void(0)" onclick="del(\''+ d + '\')" title="编辑">',
                '<i class="layui-icon layui-icon-edit"></i></a>',
                '<a class="operation" lay-event="" href="javascript:void(0)" onclick="del(\''+ d + '\')" title="删除">',
                '<i class="layui-icon layui-icon-delete" ></i></a>',
            ].join('');
        }else{
            return '';
        }
    }


    //批量删除
    function batchDelete(){
        var rows=[]
        if (rows.length == 0) {
            toastr.warning("请选择要删除的数据");
            return;
        }
        var ids = [];
        // 遍历所有选择的行数据，取每条数据对应的ID
        $.each(rows, function(i, row) {
            ids[i] = row['id'];
        });
        console.log(rows+"--"+ids);
        if(confirm("确定删除选中的部门信息？")){
            $.ajax(
                {
                    type: "POST",
                    url: "/dept/batchDelete",//url请求的地址
                    cache: false,  //禁用缓存
                    data: {deptIds:ids},  //传入组装的参数
                    dataType: "json",
                    traditional:true,
                    success: function (result) {
                        if(result.success){
                            toastr.success('删除成功！');
                            window.location.reload();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        toastr.warning('删除失败！'+errorThrown);
                    }
                }
            );
        }
    }
    //单个删除
    function del(data){
       if(confirm("确定删除本部门信息？")){
            $.ajax(
                {
                    type: "POST",
                    url: "/dept/delete",//url请求的地址
                    cache: false,  //禁用缓存
                    data: {deptId:data.deptId},  //传入组装的参数
                    dataType: "json",
                    success: function (result) {
                        if(result.success){
                            toastr.success('删除成功！');
                            window.location.reload();
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        toastr.warning('删除失败！'+errorThrown);
                    }
                }
            );
       }
    }
    function toAdd(){
        var url="/dept/add";
        openDialogView("新增部门",url,"800px","600px")
    }
    //添加下级
    function addChild(obj) {
        var url="/dept/add?deptId="+obj.deptId;
        openDialogView("新增部门",url,"800px","600px")
    }
</script>
</body>
</html>