<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--引用通用head--->
<head th:replace="common/commonHeader::common_header(~{::title},~{::link},~{})">
    <title>部门树信息</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-glyphicons/css/bootstrap-glyphicons.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-treeview/bootstrap-treeview.min.css}"/>
</head>
<body class="gray-bg">
<div class="graphic-container">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label for="input_search" clas="sr-only">快捷搜索：</label>
                    <input type="text" class="form-control" id="input_search" placeholder="请输入要查询的部门名称">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-success" id="btn-search">搜索</button>
                    <button type="button" class="btn btn-default" id="btn-clear-search">清除</button>
                </div>
            </div>
        </div>
        <!--显示结果-->
        <div class="row">
            <div class="col-sm-12">
                <div id="search-output">

                </div>
            </div>
        </div>
        <!--显示树-->
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox-content">
                    <div id="deptTree"></div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12 col-sm-offset-12">
                        <button type="button" id="btn_select" class="btn btn-primary" onclick="selectDepts()">提交</button>
                        <button type="button" class="btn btn-secondary" onclick="windowClose()">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--引用通用JS-->
<div th:replace="common/commonFoot::foot(~{::script})">
    <script th:src="@{/webjars/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
    <script th:src="@{/webjars/jquery-validation/jquery.validate.min.js}"></script>
    <script th:src="@{/js/sys/dept/deptTree.js}"></script>
</div>
</body>
</html>