<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<!--引用通用head--->
<head th:replace="/common/commonHeader::common_header(~{::title},~{::link},~{})">
    <title>角色管理</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-table/bootstrap-table.min.css}"/>
</head>
<body class="gray-bg">

<div class="panel-body" style="padding-bottom: 0px">
    <!--查询-->
    <div class="panel panel-default" style="margin-bottom: 2px">
        <div class="form-inline">
            <div class="form-group">
                <label for="search">角色名称</label>
                <input type="text" name="roleName" id="search" placeholder="角色名称">
                <button id="btnQuery" type="button" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>查询
                </button>
            </div>
        </div>
    </div>
    <!--工具栏-->
    <div id="toolbar" class="btn-group">
        <button id="btn_add"
                type="button" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
        </button>
        <button id="btn_delete_tip" shiro:hasPermission="sys:role:batchRemove"
                type="button" class="btn btn-danger btn-sm" data-target="#deleteModal" data-toggle="modal">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
        </button>
    </div>
    <!--删除模态框-->
    <div class="modal fade" id="deleteModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">$times;</span>
                    </button>
                    <h3 class="modal-title">删除提示</h3>
                </div>
                <div class="modal-body">
                    <p>确认删除选中数据？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btn_delete">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>

    </div>
    <!--table数据显示-->
    <table id="roleTable">

    </table>

</div>
<!--权限控制-->
<script type="application/javascript">
    let s_edit_h=true;
    let s_remove_h=true;
    let s_grant_h=true;
</script>
<shiro:hasPermission name="sys:role:add">
    <script type="application/javascript">
        s_edit_h=true;
    </script>
</shiro:hasPermission>
<shiro:hasPermission name="sys:role:grant">
    <script type="application/javascript">
        s_grant_h=true;
    </script>
</shiro:hasPermission>
<shiro:hasPermission name="sys:role:remove">
    <script type="application/javascript">
        s_remove_h=true;
    </script>
</shiro:hasPermission>
<!--权限控制-->
<!--引用通用JS-->
<div th:replace="/common/commonFoot::foot(~{})">
</div>
<script th:src="@{/webjars/bootstrap-table/bootstrap-table.min.js}" ></script>
<script th:src="@{/webjars/bootstrap-table/extensions/filter-control/bootstrap-table-filter-control.min.js}" ></script>
<script th:src="@{/pluggins/tableExport/tableExport.min.js}" ></script>
<script th:src="@{/webjars/bootstrap-table/extensions/export/bootstrap-table-export.min.js}" ></script>
<script th:src="@{/webjars/bootstrap-table/extensions/toolbar/bootstrap-table-toolbar.min.js}" ></script>
<script th:src="@{/webjars/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}" ></script>
<script th:src="@{/js/sys/role/role.js}" ></script>
</body>

</html>